table{
    align-items:center;
    border-collapse: collapse;
     margin-top: 50px;
     width:fit-content;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.3);
    margin: 20px 0;
}

td{
 
 padding: 20px;
 
}

tr{

    background-color:whitesmoke;
    padding: 5px;
    border: 2px solid green;
}

.button:hover{
    background-color: green;
}

.button-td{
   
    justify-content: flex-start;
    display:flex;
    gap:5px;
}
button{
    cursor: pointer;
    
}