
.box1 {
   
    width: 14%; 
    height:auto;
    margin-right: 150px;
    background-color:rgb(30, 1, 1);
    align-items:center;
    border-radius: 20px;
    font-size: small;
    justify-content: space-between;
    display: flex;
}
  
.cartimg{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
 
}

.cartamount {
    width:35px;
    height:20px;
    align-items: centre;
    text-align: center;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin-left: 0px;
    margin-right: 20px;
  }
